
<div class="alinha-card">
<div *ngFor="let vaga of vagas">
  <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="\assets\imagens\{{vaga.foto}}"  alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">{{vaga.id}} - {{vaga.nome}}</h5>
        <p class="card-text">{{vaga.descricao}}</p>
        <p class="card-text">{{vaga.descricao}}</p>
        <p class="card-text">Salário: R${{vaga.salario}}</p>
        <a href="#" class="btn btn-primary">Visitar</a>
      </div>
    </div>
  </div>
</div>
